section {
    background-color: red;
    padding-left: 5%;
    padding-right: 5%;
}


.maSuperClasse {
    
    background-color: #316131;
}

.blue {
    background-color: rgb(0, 0, 255);
}

#final {
    background-color: purple;
}

header {
    background-color: gray;
}

header > h1 {
    text-align: center;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li {
    padding: 5px;
    border-radius: 10% 10% 0 0; 
    border: 1px solid black;
    border-bottom: none;
}
li:hover {
    background-color: darkgray;
}

