body {
    padding: 0; 
    margin: 0;
}


#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-content: stretch;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
} 

#score {
    text-align: center;
}

.row {
    flex: 1;
}

#center {
    
}