html {
    width: 100vw;
    font-family: 'Helvetica', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: lightgrey;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
}

header>h1 {
    color: darkblue;
    font-size: 8vh;
    line-height: 8vh;
    margin-top: 1vh;
    text-align: center;
}

#container {
    width: 100vw;
    min-height: 90vh;
    margin-top: 10vh;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

#loginForm {
    width: 75vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginForm div {
    width: 75%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

#loginForm h1 {
    text-align: center;
    font-size: 5vh;
}

#loginForm label {
    font-size: 3vh;
    margin-left: 1vh;
    margin-bottom: 1vh;
}

#loginForm input {
    font-size: 2.5vh;
    padding: 0.5vh;
    padding-left: 1vh;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid lightgray;
}

#loginForm input:focus {
    border-radius: 15px 15px 15px 15px;
    border: 2px solid blue;
    box-shadow: 0px 0px 10px blue;
    outline: none;
}

#submitButton {
    background-color: lightblue;
    color: white;
    width: 50%;
    align-self: center;
}

#submitButton:hover {
    background-color: rgb(128, 197, 220);
}

#submitButton:focus {
    outline: none;
    color: rgb(128, 197, 220);
    background-color: white;
}