<template>
  <div class="container">
    <my-awesome-line :names="['Toto', 'Titi', 'Tutu']"/>
    <my-awesome-line :names="['Toto', 'Titi', 'Tutu']"/>
    <my-awesome-line :names="['Toto', 'Titi', 'Tutu']"/>
    <my-awesome-line :names="['Toto', 'Titi', 'Tutu']"/>
    <my-awesome-line :names="['Toto', 'Titi', 'Tutu']"/>
    <my-awesome-line :names="['Toto', 'Titi', 'Tutu']"/>
    <my-awesome-line :names="['Toto', 'Titi', 'Tutu']"/>

  </div>
</template>

<script>
import MyAwesomeLine from '@/components/MyAwesomeLine'

export default {
  components: {
    MyAwesomeLine
  }
}
</script>

<style lang="postcss" scoped>

.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto flex-col;
}

@screen sm {
  .container {
    @apply flex-row;
  }
}
</style>
