/* Use this file to style elements on your page, even if they are added with php */
body {
    margin: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
section {
    border: solid 1px black;
    border-radius: 25px 25px 25px 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 25px;
}
h1 {
    text-align: center;
}