/* Use this file to style elements on your page, even if they are added with php */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.board {
    width: 50vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    background-color: black;
    padding: 5px;
}

.line {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: stretch;
}

.square {
    flex-grow: 1;
    /* border: 1px solid black; */
    background-color: white;
}