<template>
  <div class="border-black rounded bg-gray-300 border-2 p-4 m-2">
    <h1>{{ title }}</h1>
    <h3>{{ countLabel() }}</h3>
    <div class="flex justify-around">
      <button @click="remove" >-</button>
      <button @click="add" >+</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      count: 0
    }
  },
  props: {
    title: {
      type: String,
      default: "Hello world!"
    }
  },
  methods: {
    countLabel() {
      return "Total: " + this.count
    },
    add() {
      this.count += 1
    },
    remove() {
      if (this.count > 0) this.count -= 1
    }
  }
}
</script>

<style lang="postcss" scoped>

</style>
