<template>
  <div>
    <counter v-for="item in names" :key="item" :title="item"/>
  </div>
</template>

<script>
import Counter from '@/components/Counter'

export default {
  components: {
    Counter
  },
  props: {
    names: {
      type: Array,
      default: []
    }
  }
}
</script>

<style lang="postcss" scoped>

</style>
